%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 70px
}

.navbar {
    .navbar-container {
        @extend %flex-layout;
        padding: $base-padding $base-padding*4;
    }
    .navbar-brand {
        display: flex;
    }   
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        list-style: none;

        .nav-item {
            margin-right: 20px;

            .nav-link:hover {
                color: $primary;
            }
        }
    }
}

@each $key, $val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}
