%table-layout {
    width: 100%;
    text-align: center;
    height: auto;
    border-collapse: collapse;
    font-size:large ;
}

.table {
    @extend %table-layout;
    th {
        padding: $base-padding;
    }

    td {
        padding: $base-padding;
    }
}

@each $key,
$val in $colors {
    .table-#{$key} {
        @extend .table;
        thead {
            background-color: $val;
        }
    }
}